## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Digkilaan,PH,82.65,overcast clouds,8.2511,124.3172,VILLAGRACIA WHITEWATER RAFT RESORT
1,7,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,10,Itoman,JP,81.37,light intensity shower rain,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
3,18,Kapaa,US,83.48,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,19,Mareeba,AU,78.48,scattered clouds,-17.0000,145.4333,Trinity Plains Tourist Park

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
curr_desc = vacation_df["Hotel Name"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Stephenville"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Stephenville"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Longview"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] =="Dickinson"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] =="San Patricio"]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
86,307,Stephenville,US,76.15,overcast clouds,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville

In [7]:

start = vacation_start[["Lat","Lng"]].to_numpy()[0]
start

array([ 32.2207, -98.2023])

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [23]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
texas_roadtrip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(texas_roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)

itinerary_df.head(6)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,307,Stephenville,US,76.15,overcast clouds,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville
1,613,Longview,US,80.85,scattered clouds,32.5007,-94.7405,Homewood Suites by Hilton Longview
2,104,Dickinson,US,85.98,overcast clouds,29.4608,-95.0513,Hampton Inn & Suites Houston/League City
3,113,San Patricio,US,85.84,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
texas_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
curr_desc = itinerary_df["Hotel Name"]
fig = gmaps.figure(center=(30.5, -95.0), zoom_level=6.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=texas_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))